/* Tags */
.tag__head {
  margin-bottom: 60px;

  .row {
    row-gap: 32px;
  }

  .tag__link {
    display: block;
    padding: 24px;
    font-size: 18px;
    line-height: 1.35;
    font-weight: 500;
    text-align: center;
    border-radius: 22px;
    color: var(--heading-font-color);
    background: var(--background-alt-color);
    transition: $global-transition;

    &:hover {
      background: var(--background-alt-color-2);
    }
  }

  @media (max-width: $desktop) {
    margin-bottom: 44px;

    .col {
      flex-grow: 1;
    }
  }

  @media (max-width: $tablet) {
    .row {
      row-gap: 12px;
    }

    .tag__link {
      padding: 20px;
      font-size: inherit;
    }
  }

  @media (max-width: $mobile) {
    margin-bottom: 28px;
  }
}

.tags__inner {
  margin-bottom: 60px;

  .section__title,
  .section__link {
    padding-top: 20px;
  }

  .section__inner {
    margin-bottom: -32px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 60px;
  }
}

.tag__title {
  margin-bottom: 32px;
  font-size: 46px;
  font-weight: 900;

  @media (max-width: $mobile) {
    font-size: 32px;
  }
}