{% if site.data.settings.newsletter.enable == true %}
<!-- I copied over the section-about.html file to create one for the newsletter with the same style but different content. I added settings in the settings.yml for newsletter that matched the about settings. I've attempted to change pieces of this one to pull in those settings and left pieces I think are related to style directed toward any about section style.-->


<!-- begin newsletter about -->
<section class="section about animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="about__inner">

          {% if site.data.settings.newsletter.newsletter_image %}
          <div class="about__image">
            <img class="lazy" data-src="{{ site.data.settings.newsletter.newsletter_image }}" alt="{{ site.data.settings.about.author_image_alt }}">
          </div>
          {% endif %}

          <div class="about__content">
            {% if site.data.settings.newsletter.newsletter_title %}
            <h2 class="about__title">{{ site.data.settings.newsletter.newsletter_title }}</h2>
            {% endif %}
            {% if site.data.settings.newsletter.newsletter_subtitle %}
            <p class="about__subtitle">{{ site.data.settings.newsletter.newsletter_subtitle }}</p>
            {% endif %}
            {% if site.data.settings.newsletter.newsletter_description %}
            <div class="about__description">
              {{ site.data.settings.newsletter.newsletter_description | markdownify }}
            </div>
            {% endif %}
            {% if site.data.settings.about.about_button_text %}
            <a href="{{ site.data.settings.about.about_button_link | relative_url }}" class="about__button button button--big">{{ site.data.settings.about.about_button_text }}</a>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about -->
{% endif %}