{% if site.data.settings.newsletter.enable == true %}
<!-- I copied over the section-about.html file to create one for the newsletter with the same style but different content. I added settings in the settings.yml for newsletter that matched the about settings. I've attempted to change pieces of this one to pull in those settings and left pieces I think are related to style directed toward any about section style.-->


<!-- begin newsletter about -->
<section class="section section-newsletter">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="newsletter">
          <div class="newsletter__content">
            <h2 class="newsletter__title">Get new articles by email</h2>
            <p class="newsletter__description">Subscribe to receive a notification when new articles are published.</p>
            <form action="https://api.follow.it/subscription-form/RjM1bnFOOHlwanJ1WjRYeTkvTFlzcHZTU00vK1RUTHdxSWxSVkxrYXFFdlAxaStXSmxYYVRVUUVwbG9JZUJoblM4Q3g4TFF5SFFwVllnZTRtYkJmQm85MnlZdm5iUEpoempBUHNSOGZrNzNORldzUjBpTDUzYm9zM21XOHVNcGp8VFJBbHlmS1ZrcWZTYmZST29uRnRheTR2SS9WSVROcy9TeWpWUWNiL09JVT0=/8" method="post">
              <div class="newsletter__form">
                <input type="email" name="email" placeholder="Your email address" required>
                <button type="submit">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about -->
{% endif %}
