/* Gallery */
.gallery-box {
  margin: 32px -100px 32px -100px;

  @media (max-width: $wide) {
    margin: 32px -40px 32px -40px;
  }

  @media (max-width: $desktop) {
    margin: 32px 0;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Changed auto to 1fr for equal widths */
  gap: 24px; /* Replaces negative margins and individual image margins */
  justify-content: center;
  align-content: center;

  &-column-3 {
    grid-template-columns: repeat(3, 1fr); /* Use 1fr for equal width items */
  }

  &-column-4 {
    grid-template-columns: repeat(4, 1fr); /* Use 1fr for equal width items */
  }

  /* Remove margin rules from img selector */
  img {
    width: 100%;
  }

  .gallery__image {
    background: var(--background-color);
    aspect-ratio: 1 / 1; /* Ensure a consistent square shape */
    overflow: hidden;
    
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: $desktop) {
    gap: 12px; /* Adjust gap on smaller screens */

    img {
      width: 100%;
    }
  }
}
