/* Hero */
.hero {
  margin-bottom: 80px;

  .hero__inner {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }

  .hero__authors {
    margin-bottom: 12px;

    .hero__authors__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-right: 12px;
    }

    .hero__author__box{
      position: relative;
      margin-right: -12px;

      &:nth-child(even) {
        .hero__author__meta {
          transform: translateX(-50%) rotate(4deg);
        }
      }

      &:hover {
        .hero__author__meta {
          top: calc(-50% - 8px);
          transform: translateX(-50%) rotate(0deg);
          opacity: 1;
          visibility: visible;
        }

        .hero__author__image {
          transform: translateY(-2px);
        }
      }
    }

    .hero__author__meta {
      position: absolute;
      top: -50%;
      left: 50%;
      z-index: -1;
      will-change: transform;
      padding: 2px 8px;
      border-radius: 60px;
      font-size: 14px;
      transform: translateX(-50%) rotate(-4deg);
      line-height: 1.2;
      background: var(--accent-color);
      opacity: 0;
      visibility: hidden;
      transition: .4s;

      .hero__author__name {
        white-space: nowrap;
        color: var(--dark);
      }

      .triangle {
        position: absolute;
        left: 50%;
        bottom: -7px;
        transform: translateX(-50%);
        display: block;
        width: 14px;
        height: 10px;
        clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
        background: var(--accent-color);
      }
    }

    .hero__author__image {
      position: relative;
      transform: translate(0);
      display: block;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid var(--background-color);
      overflow: hidden;
      background: var(--background-alt-color);
      transition: transform .2s ease;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
      }
    }

    .hero__authors__description {
      margin: 12px 0 0;
      font-size: 16px;
      line-height: 1.3;
    }
  }

  .hero__title {
    margin-bottom: 20px;
    font-size: 72px;
    line-height: 1.1;
    color: var(--heading-font-color);
  }

  .hero__description {
    margin: 0 auto;
    max-width: 780px;
    font-family: $heading-font-family;
    font-size: 24px;
    line-height: 1.38;
  }

  .hero__search {
    position: relative;
    max-width: 500px;
    padding: 16px 24px;
    margin: 32px auto 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    border-radius: 60px;
    color: var(--text-alt-color);
    background: var(--background-alt-color);
    transition: $global-transition;
    cursor: pointer;

    &:hover {
      background: var(--background-alt-color-2);
    }

    .hero__search__icon {
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-50%);
    }
  }

  @media (max-width: $desktop) {
    margin-bottom: 64px;

    .hero__title {
      font-size: 52px;
    }

    .hero__description {
      font-size: 20px;
    }
  }

  @media (max-width: $tablet) {
    .hero__title {
      font-size: 38px;
    }

    .hero__search {
      margin: 20px auto 0;
    }
  }

  @media (max-width: $mobile) {
    margin-bottom: 48px;

    .hero__authors {
      .hero__author__meta {
        display: none;
      }

      .hero__author__image {
        width: 44px;
        height: 44px;
      }

      .hero__authors__description {
        font-size: 14px;
      }
    }

    .hero__title {
      margin-bottom: 16px;
      font-size: 32px;
    }
  }
}