/* Section Subscribe */
.subscribe__inner {
  position: relative;
  padding: 60px 32px 80px;
  border-radius: 22px;
  background: var(--secondary-color);

  .subscribe__content {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }

  .subscribe__title {
    margin-bottom: 20px;
    font-size: 62px;
    line-height: 1.2;
  }

  .subscribe__description {
    font-family: $heading-font-family;
    font-size: 24px;
    line-height: 1.35;
  }

  .subscribe-form {
    position: relative;
    z-index: 1;
    max-width: 620px;
    margin: 0 auto;

    .subscribe-email {
      width: 100%;
      height: 64px;
      padding: 20px 80px 20px 24px;
      font-size: 16px;
      outline-color: var(--primary-color);
      border: 1.2px solid var(--border-color);
      border-radius: 60px;
      color: var(--heading-font-color);
      background-color: var(--background-color);

      &::placeholder,
      &::-moz-placeholder {
        color: var(--text-alt-color);
        opacity: 1;
      }
    }

    .subscribe-button {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  @media (max-width: $desktop) {
    padding: 64px 32px;

    .subscribe__title {
      font-size: 42px;
    }

    .subscribe__description {
      font-size: 18px;
    }
  }

  @media (max-width: $tablet) {
    padding: 48px 24px;

    .subscribe__title {
      margin-bottom: 20px;
      font-size: 32px;
    }

    .subscribe__description {
      margin-bottom: 20px;
      font-size: inherit;
    }

    .subscribe-form {
      .subscribe-email {
        height: 54px;
        padding: 20px;
      }

      .subscribe-button {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        justify-content: center;
        margin-top: 12px;
      }
    }
  }

  @media (max-width: $mobile) {
    padding: 24px;

    .subscribe__title {
      margin-bottom: 16px;
    }
  }
}

.dark-mode {
  .subscribe__inner {
    background: var(--background-alt-color);
  }
}